/*cambio de color en el desplazamiento del navbar*/
.gris{
  background:rgba(0, 0, 0, 0.267);
}
.top-nav-collapse{
  background: rgba(8, 121, 129, 0.568) !important;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #34456a;
  }
}

/*fin cambio de color */


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttonC{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #0f0;
  margin: 40px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1.5px; 
  -webkit-box-reflect: below 0.8px linear-gradient(transparent, #0002);
  transition: 0.5s;
  transition-delay: 0s;
}

.buttonC:hover{
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #0f0,
              0 0 20px #0f0,
              0 0 40px #0f0;
}
.buttonC span{
  position: relative;
  z-index: 100;
}
.buttonC:nth-child(2){
  filter: hue-rotate(80deg);
}
.buttonC::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: 5px -8px 0 #0f0, 
              5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}
.buttonC:hover::before{
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow:5px 0px 0 #0f0, 
             5px 0px 0 #0f0;
  transition-delay: 0s,0.5s,1s,1s;
}

.buttonC::after{
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: -5px -8px 0 #0f0, 
              -5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}
.buttonC:hover::after{
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow:-5px 0px 0 #0f0, 
             -5px 0px 0 #0f0;
  transition-delay: 0s,0.5s,1s,1s;
}

.buttonV{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid rgb(0, 195, 255);
  margin: 40px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1.5px; 
  -webkit-box-reflect: below 0.8px linear-gradient(transparent, #0002);
  transition: 0.5s;
  transition-delay: 0s;
}

.buttonV:hover{
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px rgb(0, 195, 255),
              0 0 20px rgb(0, 195, 255),
              0 0 40px rgb(0, 195, 255);
}
.buttonV span{
  position: relative;
  z-index: 100;
}
.buttonV:nth-child(2){
  filter: hue-rotate(80deg);
}
.buttonV::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: rgb(0, 195, 255);
  box-shadow: 5px -8px 0 rgb(0, 195, 255), 
              5px 8px 0 rgb(0, 195, 255);
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}
.buttonV:hover::before{
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow:5px 0px 0 rgb(0, 195, 255), 
             5px 0px 0 rgb(0, 195, 255);
  transition-delay: 0s,0.5s,1s,1s;
}

.buttonV::after{
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: rgb(0, 195, 255);
  box-shadow: -5px -8px 0 rgb(0, 195, 255), 
              -5px 8px 0 rgb(0, 195, 255);
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}
.buttonV:hover::after{
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow:-5px 0px 0 rgb(0, 195, 255), 
             -5px 0px 0 rgb(0, 195, 255);
  transition-delay: 0s,0.5s,1s,1s;
}





.buttonM2{
  position: relative;
  display: inline-block;
  padding: 3.5px 7.5px;
  color: #2196f3;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
}
.buttonM2:hover{
  color: #255784;
  background: #37ebd3a6;
  box-shadow: 0 0 10px #37ebd3a6, 0 0 40px #37ebd3a6, 0 0 80px #37ebd3a6;
  transition-delay: 1s;
}
.buttonM2 span{
  position: absolute;
  display: block;
}
.buttonM2 span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
.buttonM2:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.buttonM2 span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
.buttonM2:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.buttonM2 span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
.buttonM2:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.buttonM2 span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
.buttonM2:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.buttonD{
  position: relative;
  display: inline-block;
  padding: 3.5px 7.5px;
  color: #2196f3;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
}
.buttonD:hover{
  color: #255784;
  background: #ff00008c;
  box-shadow: 0 0 10px #ff0000b9, 0 0 40px #ff0000b9, 0 0 80px #ff0000b9;
  color: black;
  transition-delay: 1s;
}
.buttonD span{
  position: absolute;
  display: block;
}
.buttonD span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff0000b9);
}
.buttonD:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.buttonD span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff0000b9);
}
.buttonD:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.buttonD span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff0000b9);
}
.buttonD:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.buttonD span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff0000b9);
}
.buttonD:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


